<div
  *ngIf="opens"
  class="all_datas"
  style="
    height: 100%;
    width: 93%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
  "
>
  <div class="HeadDivision mt-4">
    <div class="col-md-5">
      <label
        style="
          width: 390px;
          height: 38px;
          display: flex;
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 38px;
          color: #004761;
        "
      >
        Create user</label
      >
    </div>
    <div class="">
      <div class="circle">
        <div class="cross">
          <img src="../../../assets/cross.svg" (click)="closeForm()" />
        </div>
      </div>
    </div>
  </div>

  <mat-dialog-content>
    <form [formGroup]="createUser" (ngSubmit)="onSubmit()">
      <div class="row mt-1">
        <div class="col-md-2 mt-2">
          <label>User Name</label>
          <mat-form-field class="example-full-width" fxflex="75%">
            <input
              type="text"
              class="border-0 border-bottom"
              style="outline: none"
              class="userName"
              formControlName="userName"
              matInput
              [ngClass]="{
                'is-invalid': submitted && c['userName'].errors
              }"
            />

            <div
              *ngIf="submitted && c['userName'].errors"
              class="invalid-feedback"
            >
              <div class="mb-2" *ngIf="c['userName'].errors['required']">
                User Name required
              </div>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-2 mt-2">
          <label>Email Address</label>
          <mat-form-field class="example-full-width" fxflex="75%">
            <input
              type="text"
              class="border-0 border-bottom"
              style="outline: none"
              class="emailAddress"
              formControlName="emailAddress"
              matInput
              [ngClass]="{
                'is-invalid': submitted && c['emailAddress'].errors
              }"
            />
            <div
              *ngIf="submitted && c['emailAddress'].errors"
              class="invalid-feedback"
            >
              <div class="mb-2" *ngIf="c['emailAddress'].errors['required']">
                Enter Email ID
              </div>
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-2 mt-2">
          <label>Password</label>
          <mat-form-field class="example-full-width" fxflex="75%">
            <input
              type="text"
              class="border-0 border-bottom"
              style="outline: none"
              class="password"
              formControlName="password"
              matInput
              [ngClass]="{
                'is-invalid': submitted && c['password'].errors
              }"
            />
            <div
              *ngIf="submitted && c['password'].errors"
              class="invalid-feedback"
            >
              <div class="mb-2" *ngIf="c['password'].errors['required']">
                Enter Password
              </div>
            </div>
          </mat-form-field>
        </div>

        <div class="col-md-2 mt-2">
          <mat-label>Company</mat-label>
          <mat-form-field class="example-full-width" fxflex="75%">
            <input
              type="text"
              matInput
              formControlName="companyAccess"
              [matAutocomplete]="auto22"
              [ngClass]="{
                'is-invalid': submitted && c['companyAccess'].errors
              }"
            />
            <div
              *ngIf="submitted && c['companyAccess'].errors"
              class="invalid-feedback"
            >
              <div class="mb-2" *ngIf="c['companyAccess'].errors['required']">
                Company Name required
              </div>
            </div>

            <button
              *ngIf="c['companyAccess'].value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clear('companyAccess')"
            >
              <mat-icon>close</mat-icon>
            </button>

            <mat-autocomplete
              #auto22="matAutocomplete"
              (optionSelected)="onChange($event.option.value, 'companyAccess')"
            >
              <mat-option
                *ngFor="let option of companyAccessOptions | async"
                [value]="option"
              >
                {{ option.company_name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-2 mt-5">
          <input
            id="admin"
            type="radio"
            class="adminAccess"
            value="admin"
            name="selector"
            formControlName="selector"
          />
          <label class="custom-control-label" for="admin">Admin</label>
        </div>
        <div class="col-md-2 mt-5">
          <input
            id="user"
            type="radio"
            class="userAccess"
            value="user"
            name="selector"
            formControlName="selector"
          />
          <label class="custom-control-label" for="user">User</label>
        </div>
      </div>

      <div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </mat-dialog-content>
</div>
