.circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 33px;
  }
  .cross {
    height: 34px;
    width: 34px;
    background-color: #efefef;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
//   ::ng-deep .mat-mdc-text-field-wrapper {
//     height: 38px !important;
//     font-size: 15px;
//     display: inline-flex !important;
//     align-items: center;
//     justify-content: center;
// }

// .all_datas{
//   overflow: scroll;
//   width: 1200px;
//   height: 300px;
//   margin-left: 200px;
//   margin-top: 100px;
//   animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both;
// }
// .example-full-width{
//   width: 150px;

// }

