.SecondDiv{
height: 84px;
margin-left: 15px;
  left: 123px;
  top: 230px;
  width:1275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  background: #f9f9f9;
}
.btnsSearch{
    box-sizing: border-box;
border: none;
    // position: absolute;
    width: 37px;
    height: 35px;
    left: 1629px;
    top: 226px;
    
    background: #004761;
    border-radius: 19px;
}
::ng-deep {
    &.mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: white !important;
    }
  }
  ::ng-deep {
    &.autocomplete-container {
      width: 175px;
    }
  }
  ::ng-deep {
    &.mdc-line-ripple::before,
    .mdc-line-ripple::after {
      border: none !important;
    }
  }
  ::ng-deep {
    &.mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: gray !important;
      border: 1px solid #9ea1a1;
      border-radius: 19px;
      width: 160px;
      height: 38px;
      display: flex;
      align-items: center;
    }
  }
  ::ng-deep {
    &.mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: white !important;
    }
  }
  .Btn{
    display: flex;
    justify-items: flex-end;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 38px !important;
    font-size: 15px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}
.passport{
  width: 160px;
  row-gap: 10px;
}
.passport_input{
  margin-left: 50px;
}
.passport_Number{
  margin-left: 25px;
}
.passport_date{
  margin-left: 30px;
}