<div class="side_nav_container h-100 d-grid justify-content-center align-items-center">
    <div class="menu_items h-100 d-flex align-items-center">
        <div class="col-11  justify-content-center align-items-center h-75 m-0" style="display: contents;">
            
            <div class="row justify-content-center" style="text-align: center;">
                <div class="home_button travel d-grid justify-content-center align-items-center"
                >
                <img src="../../../assets/Travel_.svg"   [routerLink]="['/travel']">
                
            </div>
            <span style="font-weight: 800;">Travel</span>
            </div>
           
            
            <div class="row justify-content-center" style="text-align: center;">
                <div class="home_button visa d-flex justify-content-center align-items-center"
                >
                <img src="../../../assets/visa.svg"  [routerLink]="['/visa']" alt="">
            </div>
            <span style="font-weight: 800;">Visa</span>
            </div>
          <div class="row justify-content-center" style="text-align: center;">
            <div class="home_button passport d-flex justify-content-center align-items-center"
           >
            <img src="../../../assets/Passport.svg" [routerLink]="['/passport']" alt="">
            </div>
            <span style="font-weight: 800;">Passport</span>
          </div>
          <div class="row justify-content-center" style="text-align: center;">
            <div class=" home_button employee d-flex justify-content-center align-items-center"
      >
            <img src="../../../assets/User_list.svg"  [routerLink]="['/passenger']" alt="">
            </div>
            <span style="font-weight: 800;">Passenger Master</span>
          </div>
           
          <div class="row justify-content-center" style="text-align: center;">
            <div class="home_button company d-flex justify-content-center align-items-center"
          >
            <img src="../../../assets/Companies.svg" [routerLink]="['/company']" alt="">
        </div >
        <span style="font-weight: 800;">Company Master</span>
          </div>
          
          <div class="row justify-content-center" style="text-align: center;">
            <div class="home_button events d-flex justify-content-center align-items-center"
       >
            <img src="../../../assets/Travel_page.svg" [routerLink]="['/events']" alt="">
        </div>
        <span style="font-weight: 800;">Events</span>
          </div>
          <div class="row justify-content-center" style="text-align: center;">
            <div class="home_button admin d-flex justify-content-center align-items-center">
            <img src="../../../assets/Admin.svg" [routerLink]="['/accescontrol']" alt="">
        </div>
        <span style="font-weight: 800;">Access Control</span>
          </div>

            <div class="row justify-content-center" style="text-align: center;">
                <div class="home_button forex d-flex justify-content-center align-items-center"
           >
                <img src="../../../assets/forex.svg" [routerLink]="['/forex']" alt="">
            </div>
            <span style="font-weight: 800;">Forex</span>
            </div>



        </div>
       
    </div>
   
</div>