<div class="row top_navbar_container d-flex m-0 align-items-center">

    <div class="col-10 d-flex justify-content-between">
  
      <span class="h1 px-2">Travel Desk</span>
      <div class="row d-flex">
          <span class="menu_list d-flex justify-content-center align-items-center mx-4">
            <img src="../../../assets/logout.svg" alt="">
          </span>
          <span class="menu_list d-flex justify-content-center align-items-center mx-4 position-relative" >
            <img src="../../../assets/Notification.svg" alt="">
            <span style="height: 18px; width: 18px; font-size: 10px; color: white; text-align: center; background-color: #E9CD8B; border-radius: 20px; position: absolute; right: 2px; top: 2px; "></span>
          </span>
          <!-- <span class="notification_box text-center">
            
              <span class="row p-0 m-0 mb-1 notification_list d-flex align-items-center justify-content-between position-relative" style="border: 1px solid rgb(253, 227, 227);">
              <span class="col-6">
                <span>
                VISA
              </span> <br>
                <span style="font-size: 10px; position: relative; top: -5px; color: red;">Expired</span>
              </span>
              <span  class="col-6 d-flex align-items-center justify-content-end" >
              <span class="d-flex justify-content-between align-items-center" style="height: 25px; width: 25px; background-color: red; border-radius: 20px;"><span style="font-size: 12px; color: white; text-align: center; width: 100%;"></span></span>
              </span>
              </span>
         
            <span  class=" row p-0 m-0 mb-1 notification_list" style="  border: 1px solid rgb(253, 245, 225);">
              <span class="col-6">
                <span>
                VISA
              </span> <br>
                <span style="font-size: 10px; position: relative; top: -5px; color: rgb(255, 185, 33);">To Be Expired</span>
              </span>
              <span  class="col-6 d-flex align-items-center justify-content-end" >
                <span class="d-flex justify-content-between align-items-center" style="height: 25px; width: 25px; background-color: rgb(255, 185, 33);; border-radius: 20px;"><span style="font-size: 12px; color: white; text-align: center; width: 100%;"></span></span>
                </span>
            </span>
            <span class=" row p-0 m-0 mb-1 notification_list" style="  border: 1px solid rgb(249, 217, 217);">
              <span class="col-6">
                <span>
                PASSPORT
              </span> <br>
                <span style="font-size: 10px; position: relative; top: -5px; color: red;">Expired</span>
              </span>
              <span  class="col-6 d-flex align-items-center justify-content-end" >
                <span class="d-flex justify-content-between align-items-center" style="height: 25px; width: 25px; background-color: red; border-radius: 20px;"><span style="font-size: 12px; color: white; text-align: center; width: 100%;"></span></span>
                </span>
            </span>
            <span class=" row p-0 m-0 mb-1 notification_list" style="  border: 1px solid rgb(255, 245, 221);">
              <span class="col-6">
                <span>
                PASSPORT
              </span> <br>
              <span style="font-size: 10px; position: relative; top: -5px; color: rgb(255, 185, 33);">To Be Expired</span>
              </span>
              <span  class="col-6 d-flex align-items-center justify-content-end" >
                <span class="d-flex justify-content-between align-items-center" style="height: 25px; width: 25px; background-color: rgb(255, 185, 33);; border-radius: 20px;"><span style="font-size: 12px; color: white; text-align: center; width: 100%;"></span></span>
                </span>
            </span>
          </span> -->
      </div>
      
    </div>
  <div class="col-2 d-flex justify-content-end px-4">
    <img src="../../../assets/Logo.svg" alt="">
  </div>
  </div>