.visa_heading{
    // width: 213px;
// height: 47px;
// left: 123px;
// top: 129px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
/* identical to box height */

color: #283B42;
}

.addVisa{
    padding: 10px;
    width: 161px;
height: 35px;
left: 1526px;
top: 141px;
background: none;
border: none;
outline: none;

// background-image: url(../../../assets/plusicon.svg) 10px 10px no-repeat;
background: #004761;
border-radius: 11px;
}


.justify-content-center{
    justify-content: center !important;
}

  #searhPipes {
    width: 40%;
    outline: none;
    border-radius: 30px;
    padding: 2px 40px;
    height: 5vh;
    border: none;
    border: 1px solid black;
      border-top-color: black;
      border-right-color: black;
      border-bottom-color: black;
      border-left-color: black;
    border-color: #283b42;
    // background: url(Search.1adedf790194732c.svg) no-repeat 13px 9px;
    display: inline-block;
  }