.circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 33px;
  }
  .cross {
    height: 34px;
    width: 34px;
    background-color: #efefef;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FirstDiv{
    background-color: #eaf3f6;
    width: 1300px;
    height: 37px;
    display: flex;
    align-items: center;
    }

  .ThirdDiv{
    background-color: #eaf3f6;
    width: 1300px;
    height: 37px;
    display: flex;
    align-items: center;
  }
  .FourthDiv{
    background-color: #eaf3f6;
    width: 1300px;
    height: 37px;
    display: flex;
    align-items: center;
  }

  .invoiceCircle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 33px;
  }
  .invoiceCross {
    height: 34px;
    width: 34px;
    background-color: #efefef;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }